body {
    margin: 0;
    font-family: Nunito,sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    text-align: left;
    background-color: #fafbfe;
}

.content-wrapper  {
    margin: 0 auto;
    width: 980px;
    height: 100%;
    padding: 8px;
}

.top-bar {
    padding: 8px;
    margin: 0;
    position: relative;
    left: 0!important;
    background-color: #313a46;
    margin-bottom: 10px;
    padding-top: 20px;
}

.top-bar p {
    margin: 0;
    color: #fafbfe;
    font-weight: bold;
    /* float: left; */
}

.top-bar-title {
    font-size: 1.3rem;
    letter-spacing: 0.02em;
    /* color: #6c757d !important; */
    /* margin-top: -5px !important; */
}

.top-bar-subtitle {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    color: #6c757d !important;
}

.top-bar img {
    border: 0;
    background: #fafbfe;
    border-radius: 100%;
    padding: 8px;
    float: left;
    height: 107px;
    margin-right: 20px;
}

section h2 {
    font-size: 18px;
    /* margin: 0; */
    /* line-height: 75px; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;
    margin-left: 8px;
    /* text-align: center; */
    /* display: none; */
}

.card {
    border: none;
    -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);

    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eef2f7;
    border-radius: .25rem;

    margin: 8px;
    height: calc(100% - 8px);
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem;
}

.card-title {
    margin-bottom: .5rem;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-size: .9rem;
    margin-top: 0;
}

.progress-bar {
    display: block;
    width: 100%;
    height: 20px;
    background: #e2eaef;
    border-radius: 5px;
    margin: 8px 0;
}

.progress-bar span {
    background-color: #536de6;
    height: 100%;
    display: block;
    border-radius: 5px 0 0 5px;
    color: white;
    font-weight: bold;
    text-align: center;
}

#heatmap {
    height: 100%;
}

#heatmap div {
    height: 25px;
    width: 30px;
    border: 2px solid;
    margin: 2px;
    text-align: center;
    font-weight: bold;
    color: #536de6;
    padding-top: 5px;
    float: left;
    cursor: pointer;
}

#heatmap div:hover {
    opacity: 1 !important;
    color: #6c757d;
}

#bucket-inspector {
    display: none;
    margin-top: 16px; /*temporary hack*/
}

.not-assigned-bucket {
    color: gray !important;
}

.completed-bucket { 
    color: white !important;
    background: #009688;
}

.bucket-m-75 {
    color: #009688 !important;
}

.bucket-m-50 { 
    color: #CDDC39 !important;
}

.bucket-m-25 {
    color: #F9A825 !important;
}

.bucket-l-25 {
    color:#f44336 !important;
}

section {
    margin-bottom: 24px !important;
}

.info-text {
    font-size: 0.8rem;
    display: block;
}

.align-center {
    text-align: center;
}

.info-card-text {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.7rem;
}